/* 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.bac {
  height: 800px;
  background-color: black;
}

.b2 {
  height: 800px;
  background-color: aqua;
}

.b3 {
  height: 800px;
  background-color: brown;
}

.b4{
  height: 800px;
  background-color: blue;
}
 */

